<p-table [value]="(itemList$|async)||[]" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Name</th>
      <th>CreatedTime</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain"
          [icon]="item.Expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          (click)="onGetDetail(item)"></button>
      </td>
      <td>{{item.Name}}</td>
      <td>{{item.CreatedTime| date:'YYYY/MM/dd HH:mm:ss'}}</td>
    </tr>

    <div *ngIf="item.Expanded" class="p-p-3">
     {{webPageList$|async|json}}
    </div>
  </ng-template>

</p-table>
