<p-toast></p-toast>

<div class="overflow-auto" style="height:100vh">
  <p-table [value]="(itemList$|async)||[]" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="800px">
    <ng-template pTemplate="caption">
      <p-button label="新增" (click)="onOpenCreateModal()"></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th>論壇</th>
        <th>建立時間</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width: 5rem">
          <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain"
            [icon]="item.Expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" (click)="onGetDetail(item)"></button>
        </td>
        <td>{{item.Name}}<button pButton pRipple type="button" icon="pi pi-pencil"
            class="p-button-rounded p-button-help p-button-text" (click)="onOpenEditModal(item)"></button>
        </td>
        <td>{{item.CreatedTime| date:'YYYY/MM/dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="item.Expanded">
        <td colspan="3">
          <div class="p-p-3">
            <p-table [value]="(webPageList$|async)![item!.ID!.toUpperCase()]||[]" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
      <tr>
        <th style="width: 8rem">
        </th>
        <th>看板</th>
        <th>看板連結</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-webPage>
      <tr>
        <td>
          <span class="p-buttonset">
            <a [routerLink]="['/admin/item',webPage.ID]" pButton pRipple class="p-button-rounded p-button-plain"
              icon="pi pi-search"></a>
            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-cloud-download"
              (click)="onOpenExecuteCrawlerModal(webPage)"></button>
          </span>

        </td>
        <td>{{webPage.Name}}</td>
        <td><a [href]="webPage.Url" pButton pRipple class="p-button-help" target='_blank'>開啟連結</a></td>
      </tr>
    </ng-template>
  </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>
<!-- 執行排蟲工作 -->
<p-dialog [header]="selectedWebPage.Name!" [(visible)]="display" [breakpoints]="{'960px': '75vw'}"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [maximizable]='true'>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

    <div class="p-grid p-fluid">
      <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
          <label for="startPage">開始頁數</label>
          <p-inputNumber #startPage [showButtons]="true" buttonLayout="horizontal" inputId="startPage" name="startPage"
            [(ngModel)]="startPageNumber" spinnerMode="horizontal" [step]="1"
            [inputStyleClass]="startPage.value<0?'ng-invalid ng-dirty':''" [required]='true'
            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" minlength="0">
          </p-inputNumber>
          <div *ngIf="startPageNumber<0" class="alert alert-danger">
            數值需大於等於0
          </div>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="endPage">結束頁數</label>
          <p-inputNumber [(ngModel)]="endPageNumber" #endPage [showButtons]="true" buttonLayout="horizontal"
            inputId="endPage" spinnerMode="horizontal" name="endPage"
            [inputStyleClass]="endPage.value<0?'ng-invalid ng-dirty':''" [required]='true' [step]="1"
            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" minlength="0">
          </p-inputNumber>
          <div *ngIf="endPageNumber<0" class="alert alert-danger">
            數值需大於等於0
          </div>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <p-button [disabled]="!heroForm.form.valid" type="submit" label="執行爬蟲工作" styleClass="p-button-text">
          </p-button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<!-- 新增資料 -->
<p-dialog header="新增資料" [(visible)]="displayCreate" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false" [maximizable]='true'>
  <form (ngSubmit)="onCreateSubmit()" #createForm="ngForm">
    <p-divider></p-divider>
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-4 pt-2">
        <span class="p-float-label">
          <input name="forumName" type="text" id="forumName" pInputText [(ngModel)]="forumWebPageData.forum!.Name"
            required #forumName="ngModel" />
          <label for="forumName">論壇</label>
          <p-message *ngIf="!(forumName.valid || forumName.pristine)" severity="error" text="此欄位不能為空值"></p-message>
        </span>
      </div>
      <div class="p-1"></div>
      <div class="card">
        <p-table [value]="forumWebPageData.webPageList!" [columns]="cols" [reorderableColumns]="true"
          [scrollable]="true" scrollHeight="flex">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:100px">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                  (click)="onAddNewRow()"></button>
              </th>
              <th *ngFor="let col of columns" style="width:200px">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
              <td style="width:100px">
                <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-info"
                  [pReorderableRowHandle]="index"></button>
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                  (click)="onDeleteRow(index)"></button>
              </td>
              <td *ngFor="let col of columns" style="width:200px">
                <input type="text" pInputText [(ngModel)]="rowData[col.field]" [name]="col.field+index" required />
                <p-message *ngIf="(createForm.form.dirty)&&rowData[col.field]==''" severity="error" text="此欄位不能為空值">
                </p-message>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="p-field p-col-12 p-md-3">
          <p-button [disabled]="!createForm.form.valid" type="submit" label="新增" styleClass="p-button-text">
          </p-button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
