<nz-page-header class="site-page-header" nzTitle="論壇管理">
</nz-page-header>
<nz-divider></nz-divider>
<button nz-button (click)="onOpenCreateModal()" nzType="primary">新增</button>
<br />
<br />
<nz-table #tableData [nzData]="(itemList$|async)||[]" [nzPageSize]="50" [nzScroll]="{ y: '500px' }">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>論壇名稱</th>
      <th>建立時間</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="tableData.data">
      <tr>
        <td [nzExpand]="data.Expanded==null?false:data.Expanded" (nzExpandChange)="showChange(data,$event)"></td>
        <td>{{data.Name}}
          <button nz-tooltip nzTooltipTitle="編輯" nz-button nzType="default" nzShape="circle"
            (click)="onOpenEditModal(data)"><i nz-icon nzType="edit" nzTheme="outline" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#a4adf5'"></i></button>
          <button nz-tooltip nzTooltipTitle="刪除" nz-button nzType="default" nzShape="circle"><i nz-icon nzType="delete" (click)="onDeleteForum(data)"
              nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i></button>
        </td>
        <td>{{data.CreatedTime| date:'YYYY/MM/dd HH:mm:ss'}}</td>
      </tr>
      <tr [nzExpand]="data.Expanded!">
        <nz-table #innerTable [nzData]="(webPageList$|async)![data!.ID!.toUpperCase()]||[]" nzSize="middle"
          [nzShowPagination]="false" *ngIf="data.Expanded!">
          <thead>
            <tr>
              <th nzWidth="60px"></th>
              <th>看板</th>
              <th>看板連結</th>
            </tr>
          </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="innerTable.data">
      <tr>
        <td>
          <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
            style=" background: orange;">功能</button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>明細</li>
              <li nz-menu-item (click)="selectedWebPage=data;hideCrawlerForm=false;">執行爬蟲作業</li>
            </ul>
          </nz-dropdown-menu>
        </td>
        <td>{{data.Name}}</td>
        <td>
          <a [href]="data.Url" target='_blank' nz-button nzType="primary">
            <i nz-icon nzType="link" nzTheme="outline"></i>
            開啟連結
          </a>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>

<!-- 爬蟲 -->
<nz-modal [(nzVisible)]="!hideCrawlerForm" [nzTitle]="selectedWebPage?.Name" (nzOnOk)="hideCrawlerForm=true"
  (nzOnCancel)="hideCrawlerForm=true">
  <ng-container *nzModalContent>
    <h2>輸入抓取看版內容的開始和結束頁數</h2>
    <form nz-form #crawlerForm="ngForm" (ngSubmit)="onCrawlerFormSubmit($event)">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="startPageNumber">開始頁數</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="不能為空值">
          <nz-input-number [(ngModel)]="startPageNumber" style="width:100%" required id="endPageNumber"
            name="startPageNumber"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="endPageNumber">結束頁數</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="不能為空值">
          <nz-input-number [(ngModel)]="endPageNumber" style="width:100%" required id="endPageNumber"
            name="endPageNumber"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <button nz-button [nzType]="'primary'" type='submit' [disabled]="!crawlerForm.valid">執行爬蟲</button>
    </form>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button nz-button nzType="default" (click)="hideCrawlerForm=true">關閉</button>
  </ng-template>
</nz-modal>

<!-- 新增/編輯表單 -->
<nz-modal [(nzVisible)]="displayFormModal" [nzTitle]="formModalTitle" (nzOnOk)="displayFormModal=false"
  (nzOnCancel)="displayFormModal=false" nzWidth="80%">
  <ng-container *nzModalContent>
    <form nz-form #dataForm="ngForm" (ngSubmit)="onFormSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="forumName">論壇</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="不能為空值">
          <input nz-input [(ngModel)]="forumWebPageData.forum!.Name" name='forumName' type='text' required />
        </nz-form-control>
      </nz-form-item>
      <nz-table #basicTable [nzData]="forumWebPageData.webPageList!" nzSize="middle" [nzShowPagination]="false" [nzScroll]="{ y: '500px' }">
        <thead>
          <tr>
            <th nzWidth="100px">
              <button nz-button nzType="primary" type='button' (click)="onAddNewRow()">
                <i nz-icon nzType="plus"></i>
                新增
              </button>
            </th>
            <th *ngFor="let item of cols">{{item.header}}</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr *ngFor="let data of basicTable.data;let i=index;" cdkDrag>
            <td>
              <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="drag"></i></button>
              <button nz-button nzDanger nzShape="circle"
              (click)="onDeleteRow(data)"><i nz-icon nzType="close-circle" nzTheme="outline"></i></button>
            </td>
            <td>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="不能為空值">
                <input type="text" nz-input [(ngModel)]="data.Name" [name]="cols[0].field+i" required nzSize='large' />
              </nz-form-control>
            </td>
            <td>
              <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="不能為空值">
                <input type="text" nz-input [(ngModel)]="data.Url" [name]="cols[1].field+i" required nzSize='large' />
              </nz-form-control>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <button style="margin-top:20px;" nz-button [nzType]="'primary'" type='submit' [disabled]="!dataForm.valid">送出</button>
    </form>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button nz-button nzType="default" (click)="displayFormModal=false">關閉</button>
  </ng-template>
</nz-modal>
