<div nz-row nzJustify="space-around" nzAlign="middle" [nzGutter]="[16, 24]"
style="  max-height: 750px;
height:100vh;
overflow-y: scroll;"
(scroll)="onWindowScroll($event)">
  <div nz-col class="gutter-row" [nzSpan]="6" nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4"
  *ngFor="let item of itemList$ | async; index as i"
  >
    <div class="inner-box">
      <nz-card nzHoverable [nzCover]="coverTemplate" style="width:100%" [nzActions]="[actionFavorite, actionOpenGallery,actionOpenExternalSite]" class="animate-border-card gradient-border">
        <nz-card-meta [nzTitle]="item.Title!" [nzDescription]="item.Title!"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="item.Avator!" />
      </ng-template>
      <ng-template #actionFavorite>
        <i nz-icon nzType="heart"  [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"
        nzTooltipTitle="加入最愛" nzTooltipPlacement="topLeft" nz-tooltip
        ></i>
      </ng-template>
      <ng-template #actionOpenGallery>
        <i nz-icon nzType="file-image" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"
        nzTooltipTitle="看美照" nzTooltipPlacement="topLeft" nz-tooltip (click)="onOpenGallery(item.ID!)"
        ></i>
      </ng-template>
      <ng-template #actionOpenExternalSite>
        <i nz-icon nzType="global" nzTheme="outline"
        nzTooltipTitle="開啟外部網站" nzTooltipPlacement="topLeft" nz-tooltip
        ></i>
      </ng-template>

    </div>
  </div>
</div>
