<nz-page-header class="site-page-header" nzTitle="爬蟲執行記錄管理" [nzSubtitle]="data.name">
</nz-page-header>

<div *ngIf="data.columns.length>0">
  <nz-table [nzVirtualItemSize]="20" [nzScroll]="{ y: '500px' }" #basicTable [nzData]="tableData"
   [nzPageSize]="20"
   [nzLoading]="loading"       [nzFrontPagination]="false"
   [nzShowPagination]="false"
  [nzVirtualForTrackBy]="trackByIndex" [nzVirtualScroll]="true"

  >
    <thead>
      <tr>
        <th *ngFor="let item of data.columns">{{item.columnName}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-row let-index="index" (scrolledIndexChange)="nextBatch($event)">
        <tr>
        <td *ngFor="let itemTd of data.columns">{{row[itemTd.columnName]}}</td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
