<div class='card flex justify-content-center'>
  <p-table [value]="(itemList$|async)?.data||[]" styleClass="p-datatable-gridlines flex-column align-items-center justify-content-center" [scrollable]="true"
    scrollHeight="500px" (onSort)="onSort($event)" [customSort]="true" [lazy]="true"  #dt
    class="max-w-screen"
    >
    <!-- [style]="{width: '80vw'}" -->
    <ng-template pTemplate="caption">
      <div class="flex justify-content-end">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="關鍵字搜尋" [(ngModel)]="keyWord" (ngModelChange)="onSearch()" />
          <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger"
            (click)="keyWord='';onSearch()"></button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:7rem"></th>
        <th style="width:10rem">縮圖</th>
        <th style="width:5rem">頁數</th>
        <th style="width:8rem">序號</th>
        <th pSortableColumn="title" style="width:20rem">標題<p-sortIcon field="title"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width:7rem">
          <button type="button" pButton icon="pi pi-bars" label="功能"
            (click)="onSelectRow(item); menu.toggle($event)"></button>
        </td>
        <td style="width:10rem"><img [src]="item.Avator" width="100" class="p-shadow-4" /></td>
        <td style="width:5rem">{{item.Page}}</td>
        <td style="width:8rem">{{item.Seq}}</td>
        <td  style="width:20rem">{{item.Title}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-paginator #p [rows]="10" [totalRecords]="(itemList$|async)?.totalDataCount||0"
        (onPageChange)="onPaginate($event)">
      </p-paginator>
    </ng-template>
  </p-table>
</div>
<app-gallery [(displayGallery)]="display" [imageData]="imageList$" #appGallery></app-gallery>
<p-menu #menu [popup]="true" [model]="buttonItems"></p-menu>
<p-toast></p-toast>
<p-confirmDialog header="是否要刪除此資料" icon="pi pi-exclamation-triangle"></p-confirmDialog>
