<p-table [value]="(itemList$|async)?.data||[]" styleClass="p-datatable-gridlines" [scrollable]="true"
  scrollHeight="500px">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:8rem"></th>
      <th style="width:10rem">縮圖</th>
      <th>標題</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td style="width:8rem">
        <button type="button" pButton icon="pi pi-bars" label="功能"
          (click)="onSelectRow(item); menu.toggle($event)"></button>
      </td>
      <td style="width:10rem"><img [src]="item.Avator" width="100" class="p-shadow-4" /></td>
      <td>{{item.Title}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-paginator [rows]="10" [totalRecords]="(itemList$|async)?.totalDataCount||0" (onPageChange)="paginate($event)">
    </p-paginator>
  </ng-template>
</p-table>

<p-galleria [value]="(imageList$|async)||[]" [(visible)]="display" [containerStyle]="{'max-width': '850px'}" [responsiveOptions]="responsiveOptions"
  [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.Url" style="width: 100%; display: block;" />
  </ng-template>
</p-galleria>
<p-menu #menu [popup]="true" [model]="buttonItems"></p-menu>
