<div class="flex flex-column flex-wrap overflow-hidden">
  <p-toolbar>
    <div class="p-toolbar-group-left">

      <div class="flex xl:hidden " *ngIf="showSideMenu">
        <button pButton type="button" icon='pi pi-align-justify' class="p-button-outlined"></button>
      </div>
      <div class="m-2"></div>
      <span>女神牆</span>
    </div>
    <div class="p-toolbar-group-right">
      <a [routerLink]="['/admin']" routerLinkActive="router-link-active" pButton icon="pi pi-cog"></a>
      <div class='m-1'></div>
      <p-dropdown class="flex" [options]="(webPageList$ | async)||[]" optionLabel="Name" [(ngModel)]="selectWebPage"
        (onChange)="onChangeWebPage()"></p-dropdown>
    </div>
  </p-toolbar>
  <router-outlet>
  </router-outlet>
</div>
