<div class="grid overflow-auto" style="height:100vh" (scroll)="onWindowScroll($event)">
  <div *ngFor="let item of itemList$ | async; index as i" class="scalein animation-duration-500 animation-iteration-1"
    class="col-12 md:col-6 lg:col-3">
    <p-card [header]="item.Title||''" class="flex flex-1 md:align-self-auto align-self-center
  m-2  align-items-center justify-content-center cursor-pointer max-w-full">
      <ng-template pTemplate="header">
        <img alt="Card" [src]="item.Avator">
      </ng-template>
      <p-divider></p-divider>
        <div class='flex align-content-center	justify-content-center	align-items-start	'>
          <p-button icon="pi pi-search" styleClass="p-button-info p-button-lg p-button-raised "
          pTooltip="看美照" tooltipPosition="top"
          ></p-button>
          <p-button icon="pi pi-external-link" styleClass="p-button-secondary p-button-lg p-button-raised " [style]="{'margin-left': '.5em'}" (click)="onOpenWebSite(item.Url||'')"
          pTooltip="前往外部網站" tooltipPosition="top"
          >
          </p-button>
          <p-button icon="pi pi-heart" styleClass="p-button-danger p-button-lg p-button-raised "
          pTooltip="加入最愛" tooltipPosition="top" [style]="{'margin-left': '.5em'}"></p-button>
        </div>
    </p-card>
  </div>
  <p-scrollTop target="parent" [threshold]="100"></p-scrollTop>
</div>
