:host ::ng-deep .p-scrolltop {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

:host ::ng-deep .p-scrolltop-icon {
  margin-right: 12px;
  margin-bottom: 12px;
}

.animate-border-card {
  /* Full width border and a clip-path visually cutting it down to the starting size */
  border: solid 10px #FC5185;
  clip-path: polygon(calc(0% + 5px) calc(0% + 5px),
      /* top left */
      calc(100% - 5px) calc(0% + 5px),
      /* top right */
      calc(100% - 5px) calc(100% - 5px),
      /* bottom right */
      calc(0% + 5px) calc(100% - 5px)
      /* bottom left */
    );
  transition: clip-path 0.6s linear;
}

.animate-border-card:hover {
  /* Clip-path spanning the entire box so it's no longer hiding the full-width border. */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.gradient-border {
  --border-width: 3px;
  color: white;
  background: #222;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
