/* You can add global styles to this file, and also import other style files */
body{
  margin: 0 0 0 0!important;
  overflow: hidden; /* Hide scrollbars */

}
a{
  text-decoration: none;
}
/*Floating Back-To-Top Button*/
.scroll-btn {
	position: fixed;
    bottom: 20px;
    right: 20px;
	cursor: pointer;
	background-color: coral;
	z-index: 2231000;
	opacity: 0.3;


}
/*On Hover Color Change*/
.scroll-btn:hover {
	opacity: 1;

}
